.grid-container{
    width:576px;
    height:576px;
    border-style:solid;
    border-color:black;
    display:flex;
    flex-wrap:wrap;
}

.square{
    box-shadow:0 0 0 1px red;
    background-color:white;
}