*{
    font-family:"Courier New","sans-serif"
}

.container{
    background-color:#bababa;
    padding:60px;
    display:flex;
    border-radius:100px;
    margin:100px 400px;
    flex-wrap:wrap-reverse;
    justify-content:space-between;
}

body{
    background-color:rgb(107 118 135);
}

.header{
    font-size:50px;
    text-align:center;
}

.controls{
    display:flex;
    flex-direction:column;
    gap:65px;
    align-items:left;
}

.color-picker{
    display:flex;
    align-items:center;
}

#color, button{
    min-width:100px;
    height:75px;
}


.grid-container{
    width:576px;
    height:576px;
    display:flex;
    flex-wrap:wrap;
    flex: 0 0 auto;
    border-style:solid;
    border-color:black;  
    border-width:4px;
}

.square{
    box-shadow:0 0 0 1px rgb(107 118 135);
    background-color:white;
}